<div *ngIf="hero">
    <h1 class="header">{{hero.name | uppercase}} Details</h1>
    <mat-list role="list" class="ul">
        <mat-list-item role="listitem" class="li">
            <div><span>ID: </span>{{hero.id}}</div>
        </mat-list-item>
        <mat-list-item role="listitem" class="li">
            <div>
                <label for="hero-name">Hero name: </label>
                <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
                <button class="save" type="button" (click)="save()">save!</button>
            </div>
        </mat-list-item>
    </mat-list>

</div>