/* HeroDetailComponent's private CSS styles */

.li {
    list-style-type: none;
}

.ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

label {
    color: #ffffff;
}

input {
    font-size: 1em;
    padding: .5rem;
    width: 40%;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}

.save {
    margin: .2em;
    background-color: #eee;
    color: black;
    padding: 0.25rem;
    border-radius: 6px;
    font-size: 1rem;
}