.img1 {
    margin-left: 5%;
}

.img2 {
    margin-left: 3%;
    margin-right: 3%;
}

.img3 {
    margin-left: 2%;
    margin-right: 3%;
}

.img4 {
    margin-left: 2%;
    margin-right: 5%;
}

.button {
    margin-left: 7%;

}





/* .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
} */

/* .example-button-row {
    display: table-cell;
    width: 490px;
} */