/* Hintergrund/Rahmen der Bilder */

.button {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
    background-color: rgb(98, 95, 255);
    padding: 0.5%;
}

/* Hintergrund Dashboard */
body {

    flex-flow: column;
}




/* .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
} */

/* .example-button-row {
    display: table-cell;
    width: 490px;
} */