.nvg {
    background-color: rgb(46, 42, 60);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nvg a.link {
    font-size: 1.1rem;
}

.nvg a.link:hover {
    background-color: rgb(192, 186, 212);
    color: black;
}

.nvg app-hero-search.search {
    margin-left: auto;
    margin-right: 3%;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

#hero-leasing {
    background-color: rgb(187, 123, 123);
    margin-right: 1rem;
}