/* HeroesComponent's private CSS styles */

.heroes {
    display: block;
    position: relative;
    left: 2.7rem;
}

.add-hero {
    width: 25em;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#new-hero {
    margin-bottom: 7%;
    padding: .625rem;
    width: 100%;
    color: white;
    background-color: rgb(241, 171, 241);
    border-radius: .2rem;
    border-color: #8d8d8d;
    border-style: dashed;
}

.io-button {
    background-color: rgb(181, 178, 180);
    margin-left: -8%;
}

.io-button:hover {
    background-color: rgb(226, 226, 226);
}

.heroes-list {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
}


.heroes-list li {
    position: relative;
    cursor: pointer;
}


.heroes-list li:hover {
    left: .1em;
}

.heroes-list-item {
    display: flex;
    align-items: center;
    outline-color: black;
    outline-width: 10px;
}

.heroes-list button.hero {
    background-color: rgb(241, 171, 241);
    width: 100%;
}

.heroes-list button.hero:hover {
    color: #2c3a41;
    background-color: #ffc1fd;
}