/* HeroesComponent's private CSS styles */

.add-hero {
    width: 15em;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.add-hero input {
    margin-bottom: 2%;
    padding: .5rem;
    margin-left: 20%;
    width: 100%;
}

.add-hero button {
    background-color: rgb(181, 178, 180);
    margin-left: -10%;
}

.add-hero button.hover {
    background-color: rgb(226, 226, 226);
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}


.heroes li {
    position: relative;
    cursor: pointer;
}


.heroes li:hover {
    left: .1em;
}

.lineContainer {
    display: flex;
    align-items: center;
    outline-color: black;
    outline-width: 10px;
}

.heroes button.dialog {
    background-color: rgb(241, 171, 241);
    width: 100%;
    margin-left: 20%;
}

.heroes button.dialog:hover {
    color: #2c3a41;
    background-color: #ffc1fd;
}

button.delete {
    background-color: rgb(181, 178, 180);
    margin-left: -10%;
}

button.delete:hover {
    background-color: rgb(226, 226, 226);
}