<h2>My Heroes</h2>
<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (cklick) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">Add hero</button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <div class="lineContainer">
            <button mat-raised-button (click)="openDialog(hero)" class="dialog"><span class="badge">{{hero.id}}</span>
                {{hero.name}}</button>
            <button mat-icon-button type="button" class="delete" title="delete hero" (click)="delete(hero)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>