/* HeroSearch private styles */

.sc {
    display: flex;
    margin-bottom: -1em;
}

.sc .ic {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5rem;
}

.sc .sb {
    padding: .5rem;
    margin-top: auto;
    max-width: 600px;
}

.sc .sb:focus {
    outline: #336699 auto 1px;
}

li {
    list-style-type: none;
}

.search-result li button {
    text-align: left;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.search-result li button:hover {
    background-color: #435A60;
    color: white;
}

ul.search-result {
    margin-top: 0;
    padding-left: 0;
}