/* HeroSearch private styles */

.sc {
    display: flex;
}

.sc .ic {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5rem;
}

.sc .sb {
    padding: .5rem;
    margin-top: auto;
    max-width: 600px;
}

.sc .sb:focus {
    outline: #336699 auto 1px;
}

.search-result {
    margin-top: 0;
    margin-left: 1rem;
    padding-left: 0;
    width: 13rem;
    position: absolute;
    list-style-type: none;
}

mat-list-item {
    margin-top: -1rem;
}

.search-result .result-list .result-item {
    left: -16px;
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-color: darkgray;
    padding: .5rem;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: black;
}

.search-result .result-list .result-item:hover {
    background-color: rgb(192, 186, 212);
    color: black;
}